# concatenation using user input

In [1]:
fname= input("enter your fname :")
lname= input("enter your lname :")
mname= input("enter your mname :")

enter your fname :arham
enter your lname :ahmed
enter your mname :

In [2]:
fullname = fname + " " + mname + " "+ lname

In [3]:
print ("hello my name is " ,fullname, "and i am a student") # first method

hello my name is  arham   ahmed and i am a student

In [4]:
print (f" hello my name is {fname} {mname} {lname} and i am a student")  #second method

 hello my name is arham   ahmed and i am a student

In [5]:
print ( " hello my name is {} {} {} and i am a student". format (fname,mname,lname)) # third method

 hello my name is arham   ahmed and i am a student

# user input

In [6]:
name = input("enter your name; ")

enter your name; arham

In [7]:
name   # by default returns string

'arham'

In [8]:
age = int(input("enter your age ; "))

enter your age ; 19

In [9]:
age

19

In [10]:
weight = float(input("enter your weight ; "))

enter your weight ; 84

In [11]:
weight

84.0

# conditional statements

- if
- elif 
- else

In [12]:
eid = False

syntax:

if<condition>:
    <>
else<condition>:
    <>

In [13]:
if eid:
    print('tomorrow is holiday')
else:
    print('tomorrow is working day')

tomorrow is working day

# make a program that tells you your grade based on marks inputted

In [14]:
marks = int(input ("enter your marks"))

enter your marks86

In [15]:
if (marks>=90):           # used of if ,elif and else
    print('grade A+')
elif(marks>=80):
    print("grade B")
elif(marks>=70):
    print("grade c")
elif(marks>=60):
    print('grade D')
else:
    print('grade F')

grade B

### nested if else

In [16]:
shop_open = True


if shop_open :
    print("shop is open ,have to check for rice")
    basmati_rice= (input("check for rice in yes or no:"))
    if basmati_rice=="yes" :
        print("take 1 kg ")
    else :
        print("buy nothing")
else :
    print("shop is closed")

shop is open ,have to check for rice
check for rice in yes or no:yes
take 1 kg

## check eligibility for voting based on age input

In [17]:
age = int(input("enter your age "))

if age>=18:
    print("yes you are eigible for voting")
else:
    print("you are not eligible for voting")

enter your age 19
yes you are eigible for voting

### check even or odd

In [18]:
num= int(input("enter a number : "))


if(num%2 == 0):
    print ("even")
else:
    print("odd")

enter a number : 7
odd

In [19]:
num2 = int(input("enter a number :"))

if (num2 % 5 == 0):
    print (f" {num2}yes its a multiple of 5")
else :
    print (f"no {num2}its not a multiple of 5")

enter a number :8
no 8its not a multiple of 5

## operator :
- NOT --> negate
- AND --> both
- OR  --> either

In [20]:
(7>6)and (3>4) # both cond should be true for and

False

In [21]:
(7>6) or (3>4) # in or atleast one condition to be true

True

## grading system using and , or and not operators

In [22]:
marks=int(input("enter your marks:"))

if (marks<=100)and(marks >=80):
    print("grade A")
elif(marks<=80)and(marks >=60):
    print("grade B")
elif (marks<=60)and(marks>=50):
    print("grade C")
elif (marks<=50)and (marks>=45):
    print("garde D")
elif(marks<=45)and(marks>=25):
    print("grade E")
elif(marks<=25)and(marks>0):
    print("grade F")
else:
    print("invalid numberr")

enter your marks:65
grade B

## comments for Multiline comments

In [23]:
'''first line
second line
third line'''

print("changingg behavior")

changingg behavior

## methods of any type :

## positive slicing:

In [24]:
name= "arham"
name[0] # this is called slicing and initiates from  and ends before the last number

'a'

In [25]:
name[0:4]

'arha'

In [26]:
hello= "hello my name is arham"
hello[3:15]

'lo my name i'

## count method

In [27]:
hello.count("a")

3

## negative slicing :

In [28]:
hello[-15:-7]

'y name i'

## more methods

In [29]:
hello.upper()

'HELLO MY NAME IS ARHAM'

In [30]:
hello.title()

'Hello My Name Is Arham'

In [31]:
hello.capitalize()

'Hello my name is arham'

In [32]:
hello.find("is")   # using "find" to locate a letter or a word

14

In [33]:
hello.replace("is","are") #using "replace " to replace a word

'hello my name are arham'

In [34]:
hello.startswith("hello") # checks if a str starts with the letter or word (not confirmed)

True