# loops

In [ ]:
suntax:
------
for temp_var in ([1,2,3,4,5]):
    loop_body

In [1]:
for a in [1,2,3,4,5]: # for data with sets
    print(a)

1
2
3
4
5

In [2]:
for a in ('qasim','hassan',25,25.5,True): # for data with touples
    print (a)

qasim
hassan
25
25.5
True

In [8]:
for temp in (1,2,3,4,5):
    print ("happy birthday")

happy birthday
happy birthday
happy birthday
happy birthday
happy birthday

In [14]:
for a in range(5):#generator function and prints except the last limit
    print (a)

0
1
2
3
4

In [15]:
for a in range(5):
    print (a,"happy birthday")

0 happy birthday
1 happy birthday
2 happy birthday
3 happy birthday
4 happy birthday

In [16]:
x = int(input("how many times you want to wish happy birthday:")) # dynamic approach using range
for a in range(x):
    print ("happy birthday")

how many times you want to wish happy birthday:5
happy birthday
happy birthday
happy birthday
happy birthday
happy birthday

In [24]:
 x= int(input("enter the numbers in series:"))
print(f"the first {x} terms of the series are ")    
for a in range(x):
    print ((a+1)**2)

enter the numbers in series:7
the first 7 terms of the series are
1
4
9
16
25
36
49

### write a program that takes user input and prints its multiplication table ###

In [32]:
table = int(input("enter the table number"))
times = int (input("how many times want to print"))
for a in range (times):
    print (f"{table}*{a+1} = {table * (a+1)}")

enter the table number7
how many times want to print12
7*1 = 7
7*2 = 14
7*3 = 21
7*4 = 28
7*5 = 35
7*6 = 42
7*7 = 49
7*8 = 56
7*9 = 63
7*10 = 70
7*11 = 77
7*12 = 84

## task : print tables from 2 to 5 in such a way that every table prints one time less than the other

In [121]:
n= 10                                      # prints less with out x -=1 !!!!!!!!!!
for table in range (2,6):
    print (table )
    for n in range (n):
        print (f"{table}*{n+1} = {table * (n+1)}")

2
2*1 = 2
2*2 = 4
2*3 = 6
2*4 = 8
2*5 = 10
2*6 = 12
2*7 = 14
2*8 = 16
2*9 = 18
2*10 = 20
3
3*1 = 3
3*2 = 6
3*3 = 9
3*4 = 12
3*5 = 15
3*6 = 18
3*7 = 21
3*8 = 24
3*9 = 27
4
4*1 = 4
4*2 = 8
4*3 = 12
4*4 = 16
4*5 = 20
4*6 = 24
4*7 = 28
4*8 = 32
5
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35

# dictionaries

- key : value

In [60]:
 ["qasim" , "hassan" , 18, 21]

['qasim', 'hassan', 18, 21]

In [62]:
bio_data = {"f_name":"qasim",  # starts from curly brackets
"l_name": "hassan",
"age ": 18,
"weight":21}

In [63]:
type (bio_data),id(bio_data)

(dict, 139696479379200)

In [64]:
bio_data["is_present"] = True   # to add a key to dict

In [65]:
bio_data

{'f_name': 'qasim',
 'l_name': 'hassan',
 'age ': 18,
 'weight': 21,
 'is_present': True}

In [66]:
bio_data.keys()

dict_keys(['f_name', 'l_name', 'age ', 'weight', 'is_present'])

In [67]:
bio_data.values()

dict_values(['qasim', 'hassan', 18, 21, True])

In [68]:
bio_data.items()

dict_items([('f_name', 'qasim'), ('l_name', 'hassan'), ('age ', 18), ('weight', 21), ('is_present', True)])

In [73]:
bio_data.get("f_name"),bio_data.get("cnic")

('qasim', None)

In [75]:
bio_data["f_name"]="qaaaasim"

In [77]:
bio_data

{'f_name': 'qaaaasim',
 'l_name': 'hassan',
 'age ': 18,
 'weight': 21,
 'is_present': True}

In [85]:
bio_data.pop("f_name"[,"l_name"])

SyntaxError: invalid syntax (3637869599.py, line 1)

In [87]:
bio_data.popitem()     # removes the last entry , doesnt req arg

('is_present', True)

In [90]:
bio_data.pop("f_name","qaaaasim") # use of pop : removes the entry but req arg

'qaaaasim'

In [91]:
bio_data

{'l_name': 'hassan', 'age ': 18, 'weight': 21}

In [92]:
bio_data.pop("l_name")

'hassan'

In [93]:
bio_data

{'age ': 18, 'weight': 21}

In [94]:
bio_data.setdefault("f_name","qasim")

'qasim'

In [97]:
bio_data.setdefault("age ",19)

18

In [100]:
bio_data

{'age ': 18, 'weight': 21, 'f_name': 'qasim', 'age': 19}

In [102]:
bio_data.pop("age")     #pop

19

In [103]:
bio_data

{'age ': 18, 'weight': 21, 'f_name': 'qasim'}

In [104]:
bio_data.setdefault("age ",19)  #set default; checks for keys available,if yes returns value , if not creates one

18

In [105]:
bio_data

{'age ': 18, 'weight': 21, 'f_name': 'qasim'}

In [106]:
bio__data= {"blood":"o-"}

In [107]:
bio_data.update(bio__data)       #use of update: merges two dictionaries

In [108]:
bio_data

{'age ': 18, 'weight': 21, 'f_name': 'qasim', 'blood': 'o-'}

## dictionaries: versatality of keys and values

## looping on dict

In [123]:
for temp in bio_data:      # by default keys
    print (temp)

age
weight
f_name
blood

In [126]:
for temp in bio_data.items():  # for complete key values
    print (temp)

('age ', 18)
('weight', 21)
('f_name', 'qasim')
('blood', 'o-')

## list comprehension

In [128]:
L = [i**2 for i in range (1,8,2)]
L

[1, 9, 25, 49]

## dictionary comprehension

In [133]:
d = {ii:ii**2 for ii in range (5)}

In [132]:
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [134]:
result = {"ali ":80,"muhammad":89,"usama":69,"asad":56}

In [135]:
passed = {name:marks for name,marks in result.items() if marks >70}

In [136]:
passed

{'ali ': 80, 'muhammad': 89}

 ## list comprehension

## without conditions

In [160]:
# normal programming
Lst = []
for temp in range(10):
    Lst.append(temp)

In [161]:
Lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [162]:
# list comprehension , on the spot code but on one line 
[ temp for temp in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## with condition

In [163]:

Lst = []
for temp in range(10):
    if temp %2==0:
     Lst.append(temp)
    else:
     Lst.append("odd")

In [164]:
Lst

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

In [165]:
[temp for temp in range(10) if temp %2==0]

[0, 2, 4, 6, 8]

In [166]:
[temp if temp%2==0 else "odd" for temp in range(10) ]  # condition shifts to front if more conditions

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd']

## dictionary comprehension

In [171]:
lst2 = ["qasim","hassan",18,25]
lst1 = ["f_name","l_name","age","weight"]

In [172]:
biodata= []                     # normal way
for temp in zip(lst1,lst2):
    bio_data[temp[0]]=temp[1]
bio_data

{'age ': 18,
 'weight': 25,
 'f_name': 'qasim',
 'blood': 'o-',
 'l_name': 'hassan',
 'age': 18}

In [169]:
lst1

['f_name', 'l_name', 'age', 'weight', 'qasim', 'hassan', 18, 25]

In [177]:
# dict comprehension
{temp[0]:temp[1] for temp in zip(lst1,lst2)}

{'f_name': 'qasim', 'l_name': 'hassan', 'age': 18, 'weight': 25}